body{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
nav img{
    padding: 7px;
    height: 80px;
}
.top_navigation{
    background-color: #393E46;
    height: 145px;
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    
    padding: 10px, 90px;
    box-sizing: border-box;
   
}

nav ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li a{
    line-height: 80px;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    
}
nav ul li a:hover{
     background:#393E46;
     opacity: .3;
}


.search_box{
    display: flex;
    
    margin: auto 0;
    height: 35px;
    line-height: 35px;
    
  
  }
  
  .search_box input{
    border: none;
    height: 100%;
    width: 400px;
    outline: none;
    background: white;
  }

.women_banner{
    background-image: url(../images/women.jpg);
    height: 400px;
    width: 700px;
    margin-top: 170px;
    padding: 30px;
    display: flex;
    float: right;

}